[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boltwood-parser = "*"
moviepy = "*"
matplotlib = "*"
astropy = "*"
scipy = "*"
ccdproc = "*"
bigmultipipe = "*"
photutils = "*"
astroquery = "*"
pandas = "*"
specutils = "*"

[dev-packages]

[requires]
python_version = "3.11"
